@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom gradient for gold */
.bg-gold-gradient {
  background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7);
}

.text-gold-gradient {
  background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
